@keyframes textareaAnimation{
    from{
        top:130px;
        opacity: 1;
    }

    to{
        top:0px;
        opacity:1;
    }
}
@keyframes keyboardAnimation{
    from{
        top:-130px;
        opacity: 1;
    }

    to{
        top:0px;
        opacity:1;
    }
}
@keyframes bodyAnimation{
    from {
        background-color: rgba(0, 0, 0, 0.8);
    }
    to{ 
        background-color: #ffffff;
    }
}

body{
    animation: bodyAnimation 3s ;
    background-color: #ffffff;
}
.container{
    position: relative;
    box-sizing: border-box;
    width:820px;
    height:520px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    overflow: hidden;
    
}

.info{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    font-size: 2rem;

}
.text{
    animation: textareaAnimation 2s ease-in-out;
    position: relative;
    margin-left: 50px;
    margin-right: auto;
    margin-top: 20px;
    top:0px;
    box-sizing: border-box;
    width:720px;
    height:200px;
    font-size: 1.5rem;
    background-color: #fce9c0;
    padding: 10px;
    border:3px solid #a9c358;
    transition: 500ms;
    box-shadow: 10px 5px 20px   rgba(0, 0, 0, 0.89);

}
.cloud{
    position: absolute;
    top:260px;
    left:46%;
    background-color: #cccccc;
    width: 70px;
    height:70px;
    border-radius: 70px;
    opacity: 0;
    transition: 300ms;
    text-align: center;
    font-size: 3rem;
    box-shadow: 5px 5px 20px   rgba(0, 0, 0, 0.95);
}



.keyboard{
    position: relative;
    animation: keyboardAnimation 2s ease-in-out;
    width:710px;
    height:240px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 3px solid #101010;
    border-radius:5px ;
    background-color: aquamarine;
    box-shadow: 10px 5px 30px   rgba(0, 0, 0, 0.99);
    display: grid;
    gap: 3px;
    align-content: center;
    justify-content: center;
    grid-template-areas: 
    "k0 k1 k2 k3 k4 k5 k6 k7 k8 k9 k10 k11 k12 k13 k13"
    "k14 k15 k16 k17 k18 k19 k20 k21 k22 k23 k24 k25 k26 k27 k27"
    "k29 k29 k30 k31 k32 k33 k34 k35 k36 k37 k38 k39 k40 k41 k41"
    "k42 k42 k43 k44 k45 k46 k47 k48 k49 k50 k51 k52 k53 k54 k54"
    "k55 k56 k57 k58 k58 k58 k58 k58 k58 k58 k59 k60 k61 k62 k63 "


    ;
    

}

.button{
    width:44px;
    height:34px;
    border-radius: 5px;
    background-image: linear-gradient( #888888, #222222);
    color:#ffffff;
    font-size: 1.15rem;
    font-weight: 400;
    text-align: center;
    padding-top: 10px;
    transition: all 500ms;
    user-select: none;
    box-shadow: 3px 3px 20px   rgba(0, 0, 0, 0.89);
    
}
.button:hover{
    background-image: linear-gradient( #888888,  #354206);
    transform: translateY(-3px) ;
    cursor: default;

}